<% layout('/layouts/boilerplate') %>
<body>
    
    
        
    </form>
    <div class="row">
        <div class="col-8  offset-2">
            <h2>Edit the Listing</h2> <br>
            <form enctype="multipart/form-data" method="POST" action="/listings/<%=r._id%>?_method=PUT" novalidate class="needs-validation" autocomplete="off">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" required name="title" type="text" placeholder="Edit the title of listing" value="<%=r.title%>">
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" required name="description" rows="10" placeholder="Edit the description listing" ><%=r.description%></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid description.
                    </div>
                    <div class="valid-feedback">
                        Description looks good!
                    </div>
                </div>
                <div class="mb-3">
                    Original Image <br>
                    <img src="<%= originalImageUrl %>" width="250" height="250">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input class="form-control"  name="listing[image]" type="file">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" required name="price" type="number" placeholder="Edit the price of listing" value="<%=r.price%>"><br><br>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" required name="country" type="text" placeholder="Edit the country of listing" value="<%=r.country%>">
                        <div class="invalid-feedback">
                            Please provide a valid country.
                        </div>
                    </div> 
                </div>   
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" required name="location" type="text" placeholder="Edit the location of listing" value="<%=r.location%>">
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <br>        
                <button class="btn btn-dark updateBtn">Update</button> <br><br>
            </form>
        </div>
    </div>
</body>
</html>



        
      